@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

:root {
      --bs-body-font-family: 'Barlow', sans-serif;
}


html, body{
    min-height: 100%;
}

h1 span:first-child{
    font-weight: 600;
}

a{
    color: #0645AD;
    text-decoration: none;
}

ul{
    list-style: none ;
}

body{
    background-color: azure;
    width: 100vw;
    height: 100vh;
}


 canvas 

  @media (min-width: 576px) {
    #grafico {
        width: 90vw;
        height: 90vh;
        }
    }

     @media(min-width: 768px){

        #grafico {
        width: 90vw;
        height: 90vh;
        }
    }

         @media(min-width: 992px){
            #grafico {
        width: 90vw;
        height: 50vh;
        }
    }